*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif ;

}





.main{

    
    display: flex;
    justify-content: center;
    width:100%;
    height: 100vh;
    background: linear-gradient(rgba(10, 140, 192, 0.247),transparent),url("../img/green-chameleon-s9CC2SKySJM-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* position: absolute; */
}

.ajouter{
    margin:20%;
    width:90%;
    height:700px;
    box-shadow:6px -5px 14px 1px rgba(27,27,27,0.72) ;
    text-align:left;
    border-radius: 30px 15px;
    /* background-image: linear-gradient(to right top, #071428, #163a58, #1d658a, #1a94bc, #12c7eb); */
    color: white;
   background-color: rgba(3, 27, 63, 0.568);
}

#button{
    border-radius: 25px;    
    
}

html{
    font-size: 62.5;

}


a{
    color :#fff !important;
    text-decoration: none !important;
}
a:hover {
    color: teal !important;
  }

.main-header {

    background: #253858;
    color : #fff;
    position: absolute;
    width: 100%;
}

nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: auto;
    width: 90%;
    flex-wrap: wrap;
   
}
nav img{
    display: flex;
    height: 80px;
    margin-right: 20%;


}

nav ul {
     margin-left: 55%;
    margin-top: -5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; 
}

nav li {

    font-size: 36px;
   margin-right: 25%;
} 

h1{
    padding:30px ;
}
